CMakeCache.txt
cmake-build-debug/
cmake-build-release/
.idea/
html/
*.dll
CMakeFiles/
*.exe
JamEngine
Makefile
cmake_install.cmake
lib/libJamEngine.a
JamEngine.cbp
jamerrorlog.txt
lib/CMakeFiles/
test/CMakeFiles/
lib/cmake_install.cmake
lib/JamEngine.cbp
lib/Makefiles
test/cmake_install.cmake
test/JamEngine.cbp
test/Makefiles
JamEngineBuilder.cbp
Project.cbp
test/JamEngineTest
libJamEngine.a
run.sh